{% extends 'todo/base.html' %}
{% load myfilters %}
{% block title %}

{% endblock %}

{% block css %}
<style>
.main-area{
    padding-left: 20px;
    padding-right: 20px;
}

.utility{
    display: flex;
}

.pagination{
    margin-top: 20px;
    justify-content: center;
}
</style>
{% endblock %}

{% block body %}
<div class="main-area">

    <h3>Tasks</h3>

    <div class="utility">
        <!-- For Making A Search Bar -->
      <form method="GET" action="/tasks/" class="d-flex">
        <input
          class="form-control me-2"
          name="search"
          id="search"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- For filtering based on Price -->
      <select
        name="status"
        id="status-list"
        onchange="location = filter_status_url();"
        style="margin-left: auto"
      >
        <option value="" id="status-placeholder" disable hidden selected>
          Status
        </option>
        <option id="PENDING" value="PENDING">Pending</option>
        <option id="IN_PROGRESS" value="IN_PROGRESS">In Progress</option>
        <option id="COMPLETED" value="COMPLETED">Completed</option>
        <option id="ARCHIVED" value="ARCHIVED">Archived</option>
      </select>

      <!-- For making sorting functionality -->
      <select
        name="sort"
        id="sort-list"
        onchange="location = ordering_url();"
        style="margin-left: auto"
      >
        <option value="" id="placeholder" disabled selected hidden>Sort</option>
        <option id="-created_at" value="-created_at">Latest Added</option>
        <option id="-updated_at" value="-updated_at">Latest Updated</option>
      </select>
    </div>
    <br />
    <div class="d-flex flex-row justify-content-between">
    </div>

    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#create-task-modal">+ Add new</button>

    <div class="list-group">
        {% for task in results %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{task.title}}</div>
              {{task.description}}
              <div>
                {% for tag in task.tags_new.all %}
                {{tag.name}}
                {% endfor %}
              </div>
            </div>
            <div class="d-flex flex-row">
                <span class="badge bg-primary rounded-pill">{{task.status | lower_case }}</span>
                <form method="GET" action="{% url 'delete-task' task.id %}"> {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </li>
        {% endfor %}
    </div>

    <!-- Pagination Code -->
    {% if is_paginated %}
        <nav class="pagination">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" tabindex="-1" aria-disabled="true" href="/tasks/?page={{page_obj.previous_page_number}}">Previous</a>
                </li>
                {% endif %}

                {% for i in paginator.page_range %}
                {% if i == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="/tasks/?page={{i}}">{{i}}</a>
                    </li>
                {% else %}
                    
                    <li class="page-item">
                        <a class="page-link" href="/tasks/?page={{i}}">{{i}}</a>
                    </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="/tasks/?page={{page_obj.next_page_number}}">Next</a>
                </li>
                {% endif %}
              </ul>
        </nav>
    {% endif %}

</div>

<div class="modal" tabindex="-1" id="create-task-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Task</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action="{% url 'list-create-task' %}"> {% csrf_token %}
        <div class="modal-body">
            <div class="mb-3">
                <label for="create-task-title" class="form-label">Title</label>
                <input class="form-control" id="create-task-title" name="title" placeholder="">
              </div>
              <div class="mb-3">
                <label for="create-task-description" class="form-label">Description</label>
                <textarea class="form-control" id="create-task-description" name="description" rows="3"></textarea>
            </div>

            <select id="create-task-status-list" class="form-select" name="status" aria-label="Default select example">
                <option selected>Status</option>
                <option value="PENDING">Pending</option>
                <option value="IN_PROGRESS">In Progress</option>
                <option value="COMPLETED">Completed</option>
                <option value="ARCHIVED">Archived</option>
            </select>

            <label for="create-task-due-date" class="form-label mt-3">Due Date</label>
            <input type="date" id="update-task-due-date" name="due_date" />

            <label for="create-task-due-time" class="form-label mt-3">Due Time</label>
            <input type="time" id="update-task-due-time" name="due_time">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
<script>
function filter_status_url(){
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set("status", document.getElementById("status-list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    return new_url;
}

function ordering_url(){
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set("ordering", document.getElementById("sort-list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    return new_url;
}
</script>
{% endblock %}
